#CI DE NÍVEL 03 - DISPARO APÓS A CONCLUSÃO DE UM PIPELINE

# NOME DO 'PIPELINE'
name: 'Execução por Deploy'

# REGRAS DE DISPARO (GATILHOS/TRIGGERS)
# GATILHO DE exec A PARTIR DE OUTRO PIPELINE = workflow_run

on:
  workflow_run:
    workflows: ['Execução Manual']
    types:
      - completed


#TRABALHOS/TAREFAS DENTRO DO PIPELINE = jobs

jobs:
  e2e-tests:

    #MAQUINA QUE O JOB/PIPELINE VAI EXECUTAR
    runs-on: ubuntu-latest

    # condicional para executar o job apenas se o workflow anterior foi bem-sucedido
    if: ${{ github.event.workflow_run.conclusion == 'success' }}


    # PASSOS DO SCRIPT DE BUILD
    steps:

      # CLONE DO PROJETO
      - uses: actions/checkout@v4

      # INSTALAÇÃO DO NODE
      - uses: actions/setup-node@v4
        with:
          node-version: 22.x

      # INSTALAÇÃO DO YARN
      - name: Instalando Yarn
        run: npm install -g yarn


       # INSTALAÇÃO DAS DEPENDÊNCIAS
      - name: Instalando Dependências
        run: yarn

      # Instalação Playwright
      - name: Instalando Playwright
        run: yarn playwright install
      
      # Executando os testes e2e
      - name: Executando os Testes E2E
        run: yarn run e2e 
      
      # Upload dos resultados dos testes
      - uses: 
          actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: e2e-test-results
          path: ./playwright-report/



